<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script   language="JavaScript">       
            function fresh(){  
                if(location.href.indexOf("?reload=true")<0){
                    location.href+="?reload=true";  
                }  
            }  
            setTimeout("fresh()",50);
    </script>
</head>
<body>
    <h1 style="color: #64B587">Product Info</h1>

    {{#each personInfoList}}
        <h2>Product ID: {{this.id}}</h2>
        <h2>Name: {{this.name}}</h2>
        <h2>Brand: {{this.brand}}</h2>
        <h2>SKU: {{this.sku}}</h2>
        <h2>Price: {{this.price}}</h2>
        <h2>Quantity: {{this.quan}}</h2>
        <div class = "container"> 
            <h2>Product's image:</h2>
            <img src = {{this.num}} class="img-responsive center-block" width="400px" height="400px" > 
            <h2>Orignal image:</h2>
            <img src = "box1.jpg" class="img-responsive center-block" width="400px" height="400px" > 
            <!--need to change the file address of the local image-->  
        </div> 
        <hr>
    {{/each}}

    <a href="/">BACK</a>

</body>
</html>