<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Retail Product Imager</title>
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/ri.css" />
</head>    
<body>

<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Retail Product Imager</a>
        <ul class="nav navbar-nav">
          <li>
            <p class="navbar-btn">
              <button type="button" id="button" class="btn btn-success">START</button>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Begin page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body"><img src="http://placehold.it/350X350" class="img-responsive" id="imgCap"></div>
          <div class="panel-footer">Captured Image</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body"><img src="http://placehold.it/350X350" class="img-responsive" id="imgProd"></div>
          <div class="panel-footer">Product Image</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>
              <span id="pBrand" class="small"></span><br/>
              <span id="pName" class="text-primary"></span>
            </h4>
            <ul>
              <li><span id="pQty"></span></li>
              <li><span id="pPrice"></span></li>
              <li>SKU: <span id="pSku"></span></li>
            </ul>
          </div>
          <div class="panel-footer">Product Details</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted credit">&copy MCB</p>
  </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
        // var socket = io.connect();
        var socket = io.connect('http://localhost:8081');
        var jobStatus = "Stopped";
        socket.on('match',function(data){
            console.log(data);
            var obj = JSON.parse(data);
            $('#pBrand').text(obj.brand);
            $('#pName').text(obj.name);
            $('#pQty').text(obj.quantity);
            $('#pPrice').text('$'+obj.price);
            $('#pSku').text(obj.SKU);
            document.getElementById("imgCap").src = "product.png";
            document.getElementById("imgProd").src = "img/"+obj.prodid+"_1.png";
            console.log(obj.prodid+"_1.png");
        });
        socket.on('jobStatus',function(data){
            console.log(data);
            jobStatus = data;
            if (jobStatus == "Stopped") {
                $("#button").html('START');
                $("#button").removeClass("btn-danger").addClass("btn-success");
            } else {
                $("#button").html('STOP');
                $("#button").removeClass("btn-success").addClass("btn-danger");
            }
        });
    </script>

    <script>
        const button = document.querySelector('button');
        button.addEventListener('click', event => {
          $.ajax({
            type: "GET",
            url: "/start",
            success: function(result) {
              console.log("done");
            }
          });
        });
    </script>
</body>
</html>
